.tag-clickable {
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }
}

.partner-link {
  cursor: pointer;
  color: var(--color-primary);

  &:hover {
    text-decoration: underline;
    color: var(--color-link-hover);
  }
}
